/* app css stylesheet */

* {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

header#parent {
  height: 80px;
  padding: 10px 20px;
  background-color: #3fa9f5;
}

header.pg_heading {
  padding: 20px 10px;
}

#chart svg{
  height: 800px;
  width: 800px;
}
